.sticky-cart-wrapper.hidden {
    display: block !important;
}
  
  .sticky-cart-block {
    display: block;
    transform: translateY(8rem);
  }
  
  .product-sticky-cart {
    z-index: 100;
    position: fixed;
    bottom: 8px;
    left: calc(50% - 300px);
    width: 100%;
    pointer-events: none;
    transform: translateY(100%);
    opacity: 0;
    transition: transform .3s var(--transition-timing-function) ease, opacity .3s var(--transition-timing-function) ease;
    box-shadow: 0px 10px 50px 0px #00000033;
    max-width: 600px;
    overflow: clip;
    border-radius: var(--corner-radius);
    -webkit-border-radius: var(--corner-radius);
  }

  .product-sticky-cart--left {
    inset-inline-start: 8px;
  }

  .product-sticky-cart--right {
    inset-inline-end: 8px;
    inset-inline-start: auto;
  }
  
  .product-sticky-cart::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--layout-background-color));
  }
  
  .product-sticky-cart::after {
    content: '';
    position: absolute;
    z-index: -2;
    right: 1.5rem;
    top: 0;
    left: 1.5rem;
    height: 2rem;
    border-radius: 100%;
    box-shadow: 0px 10px 50px 0px #00000033;
    
  }
  
  animate-sticky[animate] .product-sticky-cart {
    opacity: 1;
    pointer-events: visible;
    transform: translateY(0);
  }
  
  .sticky-cart {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    column-gap: 8px;
    padding: 12px;
    color: rgb(var(--layout-text-color));
  }
  
  .sticky-cart__content {
    display: flex;
    column-gap: 8px;
    align-items: center;
  }

  .sticky-cart__content-image {
    width: 48px;
    max-width: 48px;
    flex-shrink: 0;
    overflow: clip;
    border-radius: var(--image-radius);
    -webkit-border-radius: var(--image-radius);
  }

  .sticky-cart__content-image .lazy-image {
    height: 100%;
  }

  .sticky-cart__content-image.enable-blending {
    background: var(--blending-color, none);
  }   

  .sticky-cart__content-image.enable-blending img {
      mix-blend-mode: darken;
  }
  
  .sticky-cart__content img {
    height: 100%;
    width: 100%;
    display: block;
  }
  
  .sticky-cart__content .h4 {
    margin: 0;
  }

  .product-sticky-cart .product-form__buttons button {
    width: auto;
    min-width: 120px;
    min-height: 36px;
  }

  .sticky-cart__content-heading {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .sticky-cart__form {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  
  .sticky-cart__form form {
    display: flex;
  }
  
  .sticky-cart__form .product-form__buttons {
    display: flex;
    column-gap: 1rem;
  }
  
  .sticky-cart__form .select__select {
    height: 100%;
    min-height: auto;
  }
  
  .sticky-cart .price .badge {
    display: none;
  }

  .sticky-cart .price-inside-button {
    display: none;
  }
  .current-variant {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }
  .current-variant a {
    text-decoration: underline;
    text-decoration-skip-ink: auto;
  }
  .product-overview-section:has(.variant-selects--no-options) ~ .sticky-cart-wrapper .current-variant a {
    display: none;
  }
  .mini-cart--open animate-sticky .product-sticky-cart,
  .mini-cart--opening animate-sticky .product-sticky-cart,
  .mini-cart--closing animate-sticky .product-sticky-cart,
  .menu-drawer--open animate-sticky .product-sticky-cart,
  .menu-drawer--opening animate-sticky .product-sticky-cart,
  .menu-drawer--closing animate-sticky .product-sticky-cart,
  .menu-mobile--open animate-sticky .product-sticky-cart,
  .menu-mobile--opening animate-sticky .product-sticky-cart,
  .menu-mobile--closing animate-sticky .product-sticky-cart,
  .search-modal--open animate-sticky .product-sticky-cart,
  .quick-view--open animate-sticky .product-sticky-cart,
  .quick-view--opening animate-sticky .product-sticky-cart,
  .quick-view--closing animate-sticky .product-sticky-cart {
    z-index: 1;
    opacity: 0;
    transform: translateY(100%);
    transition: none;
  }

  .product-form__buttons-icon {
    display: none;
}

.product-form__buttons-icon svg {
    fill: rgb(var(--layout-background-color));
}

.sticky-cart .product-form__submit.loading .button-title {
    display: block;
    opacity: 0;
}

.sticky-cart .product-form__buttons .product-form__submit {
  justify-content: center;
}

  @media screen and (max-width: 920px) {
    .product-sticky-cart {
        max-width: 100vw;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
    }
  }
  @media screen and (min-width: 921px) {
    .product-sticky-cart {
      transform: translateY(20px);
    }
    animate-sticky[animate] .product-sticky-cart {
      transition: opacity .3s var(--transition-timing-function), transform .3s var(--transition-timing-function);
    }
  }
  @media screen and (min-width: 769px) {
    .sticky-cart-wrapper--mobile.hidden {
        display: none !important;
    }
  }
  @media screen and (max-width: 768px) {
    .sticky-cart-wrapper--desktop.hidden {
        display: none !important;
    }
    .sticky-cart .product-form__buttons .button-title {
        display: none;
    }
    .product-sticky-cart .product-form__submit span:not(.product-form__buttons-icon):not(.loading-overlay__spinner) {
      display: none!important;
    }
    .product-form__buttons-icon {
        display: flex;
    }
    .product-form__submit.loading .product-form__buttons-icon,
    .sticky-cart .product-form__submit.loading .button-title {
      display: none;
    }
    .product-sticky-cart .product-form__buttons button {
        min-width: 44px;
        min-height: 44px;
        padding: 10px;
    }
    .sticky-cart__content {
        flex: 0 0 calc(100% - 8px - 12px - 44px);
        overflow: clip;
    }
    .sticky-cart__content-image + .sticky-cart__content-heading {
        max-width: calc(100% - 48px - 8px);
    }
    .sticky-cart__content p {
        text-overflow: ellipsis;
        word-break: keep-all;
        overflow: clip;
    }
  }
  