.logo--header,
.logo--mobile-header {
    display: flex;
    justify-content: var(--logo-horizontal-alignment);
}

.logo--secondary-sidebar .logo__title {
    word-wrap: break-word;
}

.logo--secondary-sidebar.logo--rotate .logo__title {
    writing-mode: vertical-rl;
    height: fit-content;

    [dir="rtl"] & {
        writing-mode: sideways-rl;
    }
}

.logo--secondary-sidebar.logo--rotate .logo__image img {
    transform: rotate(90deg);
}

.logo--header.logo--center .logo__title {
    text-align: center;
}

.logo--header.logo--flex-end .logo__title {
    text-align: end;
}

.logo__title {
    font-family: var(--logo-font-family);
    font-style: var(--logo-font-style);
    font-weight: var(--logo-font-weight);
    font-size: var(--logo-font-size);
    color: rgb(var(--layout-text-color));
    max-width: 100%;
    word-break: normal;
}

.logo__tagline {
    text-transform: var(--tagline-case);
    word-break: break-word;
    color: rgb(var(--layout-text-color));
}

.logo__image-item {
    display: block;
    width: auto;
    height: var(--logo-height);
}

.transparent-sidebar:not(.overlap-slide-out-menu-opened) .logo__image-item--solid:not(:only-child),
.transparent-header:not(.colored) .logo__image-item--solid:not(:only-child) {
    display: none;
}

.transparent-sidebar:not(.overlap-slide-out-menu-opened) .logo__image .logo__image-item--solid:not(:only-child),
.transparent-sidebar:not(.overlap-slide-out-menu-opened) .logo__image.section-color .logo__image-item--transparent:not(:only-child),
.transparent-header.always_stick.colored .logo__image .logo__image-item--solid:not(:only-child) {
    display: block;
}
.transparent-sidebar:not(.overlap-slide-out-menu-opened) .logo__image.section-color .logo__image-item--solid:not(:only-child),
.transparent-sidebar:not(.overlap-slide-out-menu-opened) .logo__image .logo__image-item--transparent:not(:only-child),
.transparent-header.always_stick.colored .logo__image .logo__image-item--transparent:not(:only-child),
.transparent-header.disable.colored .logo__image .logo__image-item--transparent:not(:only-child),
.transparent-header.colored .logo__image .logo__image-item--transparent:not(:only-child),
.transparent-sidebar:has( .menu-container--slide-out-overlap):hover .logo__image .logo__image-item--transparent:not(:only-child),
.transparent-sidebar.overlap-slide-out-menu-opened .logo__image .logo__image-item--transparent:not(:only-child) {
    display: none;
}

.header-without-sidebars.transparent-header.always_stick.transparent .logo__image .logo__image-item--transparent:not(:only-child),
.header-without-sidebars.transparent-header.disable.transparent .logo__image .logo__image-item--transparent:not(:only-child),
.transparent-sidebar:has( .menu-container--slide-out-overlap):hover .logo__image .logo__image-item--solid:not(:only-child) {
    display: block;
}

.header-without-sidebars.transparent-header.always_stick.transparent .logo__image .logo__image-item--solid:not(:only-child) {
     display: none;
}

.transparent-header.stick_on_scroll.colored.secondary-header-section .logo__image .logo__image-item--transparent,
.transparent-header.stick_on_scroll.colored.header-without-sidebars .logo__image .logo__image-item--transparent {
    display: none;
}

.transparent-header.stick_on_scroll.transparent.secondary-header-section .logo__image .logo__image-item--solid {
    display: block;
}

.transparent-header.transparent.always_stick .logo__image .logo__image-item--solid:not(:only-child),
.transparent-header.stick_on_scroll.transparent.secondary-header-section .logo__image .logo__image-item--transparent:not(:only-child),
.transparent-header.stick_on_scroll.transparent.secondary-header-section .logo__image .logo__image-item--solid:not(:only-child) {
    display: none;
}

.transparent-header.transparent.always_stick .logo__image .logo__image-item--transparent:not(:only-child),
.transparent-header.stick_on_scroll.transparent.secondary-header-section .logo__image .logo__image-item--transparent:not(:only-child) {
    display: block;
}

.shopify-section-header.animate .colored:not(.secondary-header-section) .logo__image .logo__image-item--transparent:not(:only-child) {
    display: none;
}

.shopify-section-header.animate .colored:not(.secondary-header-section) .logo__image .logo__image-item--solid {
    display: block;
}

.mobile-header-section:not(.transparent-header) .logo__image .logo__image-item--transparent:not(:only-child) {
    display: none;
}

.logo--main-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: var(--logo-vertical-alignment);
    align-items: var(--logo-horizontal-alignment);
    max-width: 100%;
}

.logo--secondary-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: var(--logo-vertical-alignment);
    align-items: center;
}

.logo--main-sidebar.logo--spacious {
    gap: 24px;
}

.logo--main-sidebar.logo--compact {
    gap: 16px;
}

.logo--center .logo__tagline {
    text-align: center;
}

/* Fonts */
.logo__tagline--minimal_uppercase {
    font: var(--base-label-font);
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.logo__tagline--minimal_basic,
.logo__tagline--minimal_heavy,
.logo__tagline--classic {
    font: var(--base-body-s-font);
}

.logo__tagline--avant_garde {
    font: var(--accent-body-s-font);
}

.logo__tagline--contrast {
    font: var(--base-label-font);
}

.logo__tagline--brutalist,
.logo__tagline--duet {
    font: var(--accent-body-m-font);
}

.logo__tagline--custom {
    font: var(--label-font);
    letter-spacing: var(--label-letter-spacing);
}