.drawer {
  display: none;
}

.drawer.active {
  display: block;
}

.drawer .news-drawer {
    display: none; 
    background-color: rgb(var(--layout-background-color));
    color: rgb(var(--layout-text-color));
    top: 0;
    min-height: 100vh; 
    min-height: -webkit-fill-available;
    bottom: env(safe-area-inset-bottom);
    position: fixed;
    z-index: 1000;
    width: 480px;
    --news-drawer-spacing: 16px;
}

.drawer.active .news-drawer {
    display: block;
    inset-inline-end: 0;
    opacity: 1;
    animation: drawerOpenRight .3s var(--transition-timing-function);
}

.news-drawer .drawer__inner-wrapper {
    padding: 0px 24px 53px;
}

.news-drawer .button-wrapper {
    display: flex;
    position: fixed;
    top: 16px;
    inset-inline-end: 16px;
    background-color: transparent;
    z-index: 15;
}

.news-drawer .drawer__heading {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-inline-end: 52px;
    min-height: 76px;
    display: flex;
    align-items: center;
}

.news-drawer__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 100dvh;
}

.news-drawer .news-drawer__content > *:not(:first-child) {
    margin-top: calc(var(--news-drawer-spacing) * var(--spacing));
}

a.news-drawer__block {
    display: block;
}

a.news-drawer__block .news-drawer__image {
    transition: transform var(--animation-duration) var(--transition-timing-function);
}

.news-drawer__block > *:not(:first-child) {
    margin-top: 16px;
}

.news-drawer__block > .news-drawer__heading + .news-drawer__text,
.news-drawer__block > .news-drawer__subheading + .news-drawer__text,
.news-drawer__block > .news-drawer__subheading + .news-drawer__heading {
    margin-top: 8px;
}

.news-drawer__image-container {
    border-radius: var(--image-radius);
    -webkit-border-radius: var(--image-radius);
    overflow: clip;
}

.news-drawer__image-container:empty {
    display: none;
}

.news-drawer__image-container .lazy-image {
    height: 100%;
}

.news-drawer__image {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
}

.ratio-original .news-drawer__image {
    height: auto;
}

.news-drawer__products {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.news-drawer__products .card__picture-wrapper {
    flex: 0 0 100px;
}

.news-drawer__products .card__picture-wrapper img {
    height: 100%;
    width: 100%;
    position: relative !important;
}

.news-drawer__products .card__badges {
    display: none;
}
.news-drawer__products .card {
    flex-direction: row;
}

.news-drawer__heading + .news-drawer__products {
    margin-top: 24px;
}

@media (hover: hover) {
    a.news-drawer__block:hover .news-drawer__image {
        transform: scale(1.03);
    }
}


@media screen and (max-width: 768px) {
    .news-drawer .news-drawer__content > *:not(:first-child) {
        margin-top: calc(var(--news-drawer-spacing) * var(--mobile-spacing));
    }
}

/* Mobile-mini */
@media screen and (max-width: 500px) {
    .drawer .news-drawer {
      width: 359px;
      max-width: calc(100vw - 32px);
    }
}