.shoppable-media-slider-section__container {
  display: flex;
  flex-direction: column;
  container-type: inline-size; 
  container-name: shoppable-slider-container; 

  &.shoppable-media-slider-section__container--compact {
    gap: 24px;
  }
  
  &.shoppable-media-slider-section__container--spacious {
    gap: 64px;
  }
}

.shoppable-media-slider {
  --desktop-slide-width: 390px;
  --mobile-slide-width: 265px;
  --slide-offset: 24px;
  --active-slide-offset: 80px;
  --slider-transition-duration: 300ms;

  display: block;
  width: 100%;

  @container shoppable-slider-container (max-width: 768px) {
    --slide-offset: 16px;
    --active-slide-offset: 16px;
  }
}

.shoppable-media-slider__wrapper {
  --slider-direction: -1; 

  translate: calc((var(--active-slide-offset) - var(--slide-offset)) * var(--slider-direction)) 0;

  html[dir="rtl"] &{
    --slider-direction: 1; 
  }
}

.shoppable-media-slider__slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 16px;
}

.shoppable-media-slider:not(.is-dragging) .shoppable-media-slider__slide.swiper-slide-active,
.shoppable-media-slider__slide.shoppable-media-slider__slide--large-margins {
  margin-right: var(--active-slide-offset) !important;
  margin-left: calc(var(--active-slide-offset) - var(--slide-offset)) !important;
}

html[dir="rtl"] .shoppable-media-slider:not(.is-dragging) .shoppable-media-slider__slide.swiper-slide-active,
html[dir="rtl"] .shoppable-media-slider__slide.shoppable-media-slider__slide--large-margins {
  margin-left: var(--active-slide-offset) !important;
  margin-right: calc(var(--active-slide-offset) - var(--slide-offset)) !important;
}

.shoppable-media-slider__slide-main-content {
  --mask-top: 5%;
  --mask-bottom: 5%;  

  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: var(--desktop-slide-width);
  clip-path: inset(var(--mask-top) 0 var(--mask-bottom) 0 round var(--media-radius));
  transition: clip-path var(--slider-transition-duration) ease-in-out;
  cursor: pointer;

  @container shoppable-slider-container (max-width: 768px) {
    max-width: var(--mobile-slide-width);
  }

  .shoppable-media-slider:not(.is-dragging) .swiper-slide-active & {
    --mask-top: 0%;
    --mask-bottom: 0%;

    cursor: grab;
  }

  .shoppable-media-slider.is-dragging & {
    cursor: grabbing !important;
  }
}

.shoppable-media-slider__media,
.shoppable-media-slider__slide-main-content video,
.shoppable-media-slider__slide-main-content .lazy-video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 0; 
  object-position: var(--media-focal-point);
}

.shoppable-media-slider__slide-main-content video {
  aspect-ratio: inherit;
}

.shoppable-media-slider__button-prev,
.shoppable-media-slider__button-next {
  user-select: none; 
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(var(--layout-text-color));
  transition: opacity var(--animation-duration) var(--transition-timing-function);

  &:hover {
    opacity: 0.7;
  }

  @container shoppable-slider-container (max-width: 768px) {
    display: none;
  }

  svg {
    width: max(10px, 25%);
    fill: rgb(var(--layout-background-color));
  }

  .swiper-rtl & svg {
    transform: none;
  }

  &::after,
  .swiper-rtl &::after {
    content: '';
  }
}

.shoppable-media-slider__button-next svg {
  margin-inline-start: 1px;
}

.shoppable-media-slider__button-prev svg {
  margin-inline-end: 1px;
}

.shoppable-media-slider__slide-caption {
  width: 100%;
  padding-inline: 8px;
  opacity: 0;
  transition: opacity var(--slider-transition-duration) ease-out;
  transform-origin: top;
  pointer-events: none;

  .shoppable-media-slider:not(.is-dragging) .swiper-slide-active & {
    opacity: 1;
    pointer-events: auto;
  }
}

.product-slide-caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
}

.product-slide-caption__content {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.product-slide-caption__image {
  display: flex;
  width: 64px;
  border-radius: 3px;
  overflow: hidden;
  
  &.enable-blending,
  &.enable-blending .lazy-image,
  &.enable-blending .lazy-image__preloader {
    background: var(--blending-color, none);
  }

  &.enable-blending img {
    mix-blend-mode: darken;
  }

  .lazy-image {
    height: 100%;
    flex: 0 0 100%;
  }

  img {
    width: 100%;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: var(--focal-point);
  }
}

.product-slide-caption__info {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.product-slide-caption__title {
  transition: opacity var(--animation-duration) var(--transition-timing-function);

  @media (hover: hover) {
    .product-slide-caption:hover & {
      opacity: .7;
    }
  }
}

.product-slide-caption__add-to-cart-button {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--other-buttons-radius);
  background-color: rgb(var(--layout-text-color));
  transition: opacity var(--animation-duration) var(--transition-timing-function);

  svg {
    width: 16px;
    fill: rgb(var(--layout-background-color));
  }

  @media (hover: hover) {
    &:not([disabled]):hover {
      opacity: 0.7;
    }
  }
}

.text-slide-caption {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: center;
  text-align: center;
  text-wrap: balance;
}

.text-slide-caption__number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  margin-bottom: 8px;
  font-family: var(--base-font-family);
  font-size: 20px;
  border: 1px solid rgb(var(--layout-text-color));
  border-radius: var(--other-buttons-radius);
}

.text-slide-caption__text a {
  display: inline-block;
}

.shoppable-media-slider__controls {
  position: absolute;
  inset-inline-end: 16px;
  bottom: 16px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  opacity: 0;
  transition: opacity var(--slider-transition-duration) ease-out;
  transform-origin: top;
  pointer-events: none;

  .shoppable-media-slider:not(.is-dragging) .swiper-slide-active & {
    opacity: 1;
    pointer-events: auto;
  }
}

.shoppable-media-slider__control {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity var(--animation-duration) var(--transition-timing-function);

  @media (hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }

  svg {
    fill: rgb(var(--base-button-color));
  }
}

.shoppable-media-slider__control-icon.hidden {
  display: none;
}

/* #region Fonts */

.text-slide-caption__title--contrast {
  font: var(--base-body-l-font);
}
.text-slide-caption__title--minimal_uppercase {
  font: var(--base-body-s-font);
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.text-slide-caption__title--minimal_basic {
  font: var(--base-body-m-font);
}
.text-slide-caption__title--minimal_heavy {
  font: var(--base-heading-xs-font);
}
.text-slide-caption__title--classic,
.text-slide-caption__title--duet {
  font: var(--accent-body-l-font);
}
.text-slide-caption__title--avant_garde {
  font: var(--base-body-l-font);
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.text-slide-caption__title--brutalist {
  font: var(--base-heading-xs-font);
  text-transform: uppercase;
}
.text-slide-caption__title--custom {
  font: var(--body-s-font);
  letter-spacing: var(--body-s-letter-spacing);
}

.text-slide-caption__text--minimal_uppercase {
  font: var(--base-label-font);
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.text-slide-caption__text--minimal_basic,
.text-slide-caption__text--classic,
.text-slide-caption__text--duet {
  font: var(--base-body-s-font);
}
.text-slide-caption__text--duet {
  font: var(--base-body-l-font);
}
.text-slide-caption__text--avant_garde {
  font: var(--accent-body-s-font);
}
.text-slide-caption__text--contrast {
  font: var(--base-label-font);
}
.text-slide-caption__text--brutalist {
  font: var(--base-body-s-font);
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.text-slide-caption__text--custom {
  font: var(--body-m-font);
  letter-spacing: var(--body-m-letter-spacing);
}

/* #endregion */
